body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background: #f4f4f4;
    padding: 10px;
    text-align: center;
}

nav {
    margin: 10px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    justify-content: center;
}

.content {
    padding: 20px;
    text-align: center;
}

.image-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-list li {
    margin: 10px;
}

.image-list img {
    max-width: 200px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    border: 1px solid #ddd; /* Opcional: borda ao redor das imagens */
    border-radius: 5px; /* Opcional: bordas arredondadas */
    transition: transform 0.3s; /* Efeito de transição */
}

.image-list img:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}
